.primary {
  background-color: mediumaquamarine;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: color 0.25ms;
}

.primary:hover,
.primary:focus {
  color: mintcream;
}

@media screen and (min-width: 768px) {
  .primary {
    font-size: 20px;
  }
}
